body, html {
    font-size: 16px;
    line-height: 20px;
}
.message_item {
    display: block;
    width: 600px;
    height: 100px;
    border: 1px dashed lightgray;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 0 5px green;
    padding: 5px 10px;
    border-radius: 20px;
    background: ghostwhite;
}
.new_message_item {
    display: block;
    float: right;
    width: 110px;
    height: 110px;
    text-align: center;
    text-transform: uppercase;
    border: 5px dashed white;
    border-radius: 50%;
    font-size: 16px;
    line-height: 30px;
    padding: 20px 10px;
    box-sizing: border-box;
    background: lightpink;
    color: darkred;
    text-shadow: 0 0 5px white;
    font-weight: bold;
    cursor: pointer;
}
.new_message_item .plus {
    display: none;
    font-size: 120px;
    font-weight: bold;
    padding-top: 15px;
}
.new_message_item:hover {
    background: lightgreen;
    border: 5px dashed white;
    color: darkgreen;
}
.new_message_item:hover .text {
        display: none;
    }
.new_message_item:hover .plus {
        display: block;
    }
.wrapper {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}
.count_likes {
    float: left;
    width: 80px;
    margin-right: 20px;
    text-align: center;
    color: darkred;
    font-size: 20px;
}
.user_nickname {
    float: left;
    width: auto;
    background: whitesmoke;
    border-radius: 10px;
    padding: 3px 10px;
    color: darkgreen;
}
.posted_time {
    float: right;
    color: gray;
}
.user_image {
    float: left;
    width: 80px;
    height: 60px;
    background: lightgrey;
    box-shadow: 0 0 5px grey;
    margin-right: 20px;
    border-radius: 25%;
    overflow: hidden;
}
.user_image img {
    width: 100%;
    height: auto;
}
.message_header {
    height: 20px;
}
.message_body {
    clear: both;
    margin-top: 10px;
}
.message_text {
    margin: 0;
    text-align: justify;
}
.level01 {
    margin-left: 20px;
}
.level02 {
    margin-left: 40px;
}
.level03 {
    margin-left: 60px;
}
.level04 {
    margin-left: 80px;
}
.level05 {
    margin-left: 100px;
}