body, html {
    font-size: 16px;
    line-height: 20px;
}
.message_item {
    display: block;
    width: 600px;
    height: 100px;
    border: 1px dashed lightgray;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 0 5px green;
    padding: 5px 10px;
}
.wrapper {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}
.count_likes {
    float: left;
    width: 100px;
}
.user_nickname {
    float: left;
    width: auto;
    background: whitesmoke;
    border-radius: 10px;
    padding: 3px 10px;
    color: darkgreen;
}
.posted_time {
    float: right;
    color: gray;
}
.user_image {
    float: left;
    width: 80px;
    height: 60px;
    background: lightcyan;
    margin-right: 20px;
    overflow: hidden;
}
.user_image img {
    width: 100%;
    height: auto;
}
.message_header {
    height: 20px;
}
.message_body {
    clear: both;
    margin-top: 10px;
}
.message_text {
    margin: 0;
}
.level01 {
    margin-left: 20px;
}
.level02 {
    margin-left: 40px;
}
.level03 {
    margin-left: 60px;
}
.level04 {
    margin-left: 80px;
}
.level05 {
    margin-left: 100px;
}